.page-container {
  margin: 0px 40px;
}
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  font-size: 1rem;
}

.toggle-button {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
}
.toggle-icon {
  opacity: 0.5;
}
.toggle-icon.active {
  opacity: 1;
}
.left-content,
.middle-content,
.right-content {
  flex: 1;
}
.middle-content {
  text-align: center;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.left-content {
  display: inline-flex;
  align-items: center;
}
.right-content {
  text-align: right;
}

.underline-highlight {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.home-intro {
  width: 788px;
  margin: 40px 0px;
}

#experience-section {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    overflow: visible;
    li {
      width: 380px;
    }
  }
}

.rectangle-container {
  position: relative;
  height: auto;
  width: 100%;
  height: 270px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #00000018;
}

.video-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;

  video,
  img {
    border-radius: 6px 0px 0px 0px;
    border: 2px solid #00000015;
  }
}

#replit {
  background-color: #9285d1; /* Your desired background color */
  .video-wrapper {
    width: 727px;
  }
}
#retool-1 {
  background-color: #58a1df;
  video {
    height: 256px;
    width: auto;
  }
}
#retool-2 {
  background-color: #6e7ebb;
  .video-wrapper {
    width: 650px;
  }
}
#mapbox {
  background-color: #f0b030;
  video {
    height: 249px;
    width: auto;
  }
}
#writings-section li {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 800px) {
}
