:root {
  --text-color: #1b223a;
  --background: #efece9;
  --highlight-color: #dfa965;
  --highlight-color-light: #dfa96555;
  --highlight-color-dark: #dfa96555;
}
.page-container {
  margin: 0px 40px;
}
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.toggle-button {
  display: inline-flex;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
}
.toggle-icon {
  opacity: 0.5;
}
.toggle-icon.active {
  opacity: 1;
}
.left-content,
.middle-content,
.right-content {
  flex: 1;
}
.middle-content {
  text-align: center;
}
.left-content {
  display: inline-flex;
  align-items: center;
}
.right-content {
  text-align: right;
}

#grid-container {
  max-width: 1390px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  border-right: 1px solid var(--highlight-color-light);
}
.column {
  border-left: 1px solid var(--highlight-color-light);
  padding: 0 40px;
}
#first.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#first .internet-links {
  display: flex;
}
#third .internet-links {
  display: none;
}

.home-intro {
  width: 788px;
}

@media screen and (max-width: 1140px) {
  #new-home {
    display: block;
  }
  #grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #first.column {
    grid-row-start: 3;
    grid-row-end: -1;
  }
  #third {
    margin-top: 24px;
  }
}

@media screen and (max-width: 800px) {
  #grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .column {
    padding: 0 20px;
  }
  .header {
    max-width: inherit;
  }
  #new-home {
    padding: 40px 20px;
  }
  #first.column {
    margin-bottom: 180px;
  }
  .header {
    font-size: 38px;
    line-height: 44px;
  }
  #first .internet-links {
    display: none;
  }
  #third .internet-links {
    margin-top: 100px;
    display: flex;
  }
}

.highlight {
  color: var(--highlight-color);
}
