* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Degular Regular";
  src: url("fonts/Degular-Regular.woff"); /* IE9 Compat Modes */
  src: url("fonts/Degular-Regular.woff2");
}

@font-face {
  font-family: "Degular Bold";
  src: url("fonts/Degular-Bold.woff"); /* IE9 Compat Modes */
  src: url("fonts/Degular-Bold.woff2");
}

@font-face {
  font-family: "Favorit Regular";
  src: url("fonts/FavoritPro-Regular.otf");
}

@font-face {
  font-family: "Favorit Medium";
  src: url("fonts/FavoritPro-Medium.otf");
}

@font-face {
  font-family: "Favorit Bold";
  src: url("fonts/FavoritPro-Bold.otf");
}

.html {
  font-size: 16px;
}
body {
  font-family: "Favorit Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #2e2a4f;
}

pre,
.code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  word-break: break-word;
  white-space: normal;
}

p {
  margin-bottom: 0.8rem;
}
.limiter {
  max-width: 1280px;
  margin: auto;
}
.mw-limiter {
  max-width: 82rem;
}
.f4 {
  font-size: 1.35rem;
}
.f5 {
  font-size: 1.1rem;
}
.f2 {
  font-size: 2rem;
}
.f6 {
  font-size: 0.96rem;
}
.f7 {
  font-size: 0.9rem;
}
.code.f7 {
  font-size: 0.8rem;
}

.lh-copy {
  line-height: 1.6em;
}
.txt-xl {
  font-size: 1.75rem;
}

.header {
  font-family: "Degular Bold", serif;
}
.description {
  font-family: "Degular Regular", serif;
  font-size: 2rem;
  line-height: 2.36rem;
  b {
    font-family: "Degular Bold", serif;
  }
}
.flex-no-shrink {
  flex-shrink: 0;
}

.studio-ui-dive {
  counter-reset: section;
}
